<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ateh.eh.mapper.CommentMapper">

    <sql id="Base_Colum_C">
        c.comment_id, c.post_id, c.user_id, c.parent_id, c.content,c.status, c.create_date, c.create_staff, c.update_staff, c.update_staff
    </sql>

    <select id="qryPostCommentPage" resultType="com.ateh.eh.entity.ext.CommentExt">
        SELECT <include refid="Base_Colum_C"/>, u.avatar, u.nickname
        FROM comment c
            LEFT JOIN user u ON c.user_id = u.user_id
        <where>
            c.post_id = #{req.postId} AND c.status = '00A'
            <if test="req.userId != null and req.userId != ''">
                AND c.user_id = #{req.userId}
            </if>
        </where>
        ORDER BY c.create_date DESC
    </select>

</mapper>