<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ateh.eh.mapper.UserMapper">

    <sql id="Base_Colum_U">
        u.user_id, u.username, u.password, u.nickname, u.email, u.avatar, u.role, u.scores_total, u.scores_current, u.title, u.status, u.create_date, u.create_staff, u.update_date, u.update_staff
    </sql>

    <select id="qryUserByName" resultType="com.ateh.eh.entity.ext.UserExt">
        SELECT <include refid="Base_Colum_U"/>, t.name as titleName
        FROM user u
            LEFT JOIN title t ON u.title = t.title_id
        WHERE u.username = #{username} AND t.status = '00A'
    </select>

    <update id="updateScoresCurrent">
        UPDATE user u
        SET u.scores_current = u.scores_current - #{scores}
        WHERE u.user_id = #{userId} AND u.status = '00A'
    </update>

    <select id="qryChatList" resultType="com.ateh.eh.entity.ext.UserExt">
        SELECT <include refid="Base_Colum_U"></include>
        FROM user u
        WHERE u.user_id IN (
            SELECT m.source_id as user_id
            FROM message m
            WHERE m.target_id = #{userId} AND m.status = '00A'
            UNION
            SELECT m.target_id as user_id
            FROM message m
            WHERE m.source_id = #{userId} AND m.status = '00A'
        )
    </select>

    <select id="qryHelpUserList" resultType="com.ateh.eh.entity.ext.UserExt">
        SELECT <include refid="Base_Colum_U"></include>
        FROM user u
        WHERE u.user_id IN (
            SELECT m.source_id as user_id
            FROM message m
            WHERE m.target_id = #{req.userId} AND m.status = '00A'
            UNION
            SELECT m.target_id as user_id
            FROM message m
            WHERE m.source_id = #{req.userId} AND m.status = '00A'
            UNION
            SELECT c.user_id
            FROM comment c
            WHERE c.post_id = #{req.postId} AND c.status = '00A'
        ) AND user_id != #{req.userId}
    </select>

    <select id="getUserInfo" resultType="com.ateh.eh.entity.ext.UserExt">
        SELECT <include refid="Base_Colum_U"></include>, t.name as titleName
        FROM user u
            LEFT JOIN title t ON u.title = t.title_id
        WHERE u.user_id = #{userId} AND u.status = '00A' AND t.status = '00A'
    </select>

    <select id="getAllUserPage" resultType="com.ateh.eh.entity.ext.UserExt">
        SELECT <include refid="Base_Colum_U"></include>, t.name as titleName
        FROM user u
            LEFT JOIN title t ON u.title = t.title_id
        <where>
            t.status = '00A'
            <if test="req.nickname != null and req.nickname != ''">
                AND u.nickname LIKE CONCAT('%', #{req.nickname}, '%')
            </if>
            <if test="req.email != null and req.email != ''">
                AND u.email LIKE CONCAT('%', #{req.email}, '%')
            </if>
            <if test="req.status != null and req.status != ''">
                AND u.status = #{req.status}
            </if>
        </where>
        <choose>
            <when test="req.scoresTotal != null and req.scoresTotal == 'DESC'">
                ORDER BY u.scores_total DESC
            </when>
            <when test="req.scoresTotal != null and req.scoresTotal == 'ASC'">
                ORDER BY u.scores_total ASC
            </when>
            <when test="req.scoresCurrent != null and req.scoresCurrent == 'DESC'">
                ORDER BY u.scores_current DESC
            </when>
            <when test="req.scoresCurrent != null and req.scoresCurrent == 'ASC'">
                ORDER BY u.scores_current ASC
            </when>
            <otherwise>
                ORDER BY u.create_date DESC
            </otherwise>
        </choose>
    </select>

</mapper>