<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ateh.eh.mapper.UserCollectPostMapper">

    <sql id="Base_Colum_P">
        p.post_id, p.user_id, p.content, p.images, p.type, p.status, p.loves, p.collects, p.views, p.comments, p.scores, p.resolved, p.create_date, p.create_staff, p.update_date, p.update_staff
    </sql>

    <select id="qryCollectPostPage" resultType="com.ateh.eh.entity.ext.PostExt">
        SELECT <include refid="Base_Colum_P"/>, u.user_id, u.avatar, u.nickname
        FROM user_collect_post c
        LEFT JOIN post p ON c.post_id = p.post_id
        LEFT JOIN user u ON p.user_id = u.user_id
        WHERE c.user_id = #{req.userId} AND c.status = '00A' AND p.status = '00A' AND u.status = '00A'
        ORDER BY c.update_date DESC, c.create_date DESC
    </select>

</mapper>